.pf-c-backdrop .pf-l-bullseye {
  height: unset;
  margin: unset; }

.pf-c-clipboard-copy__expandable-content pre {
  background-color: #fff;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 13px; }

.pf-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .pf-grid div {
    text-align: center; }

.mdc-card-client {
  width: 450px;
  height: 100%;
  box-shadow: unset; }
  @media only screen and (max-width: 768px) {
    .mdc-card-client .pf-c-card__header {
      padding: var(--pf-global--spacer--md); }
    .mdc-card-client .pf-c-card__body {
      padding-right: var(--pf-global--spacer--md);
      padding-bottom: var(--pf-global--spacer--md);
      padding-left: var(--pf-global--spacer--md); } }

.mdc-breakpoint-split {
  display: flex;
  flex: 1; }
  .mdc-breakpoint-split .mdc-breakpoint-split-item-1 {
    display: flex;
    flex-direction: column; }
  @media only screen and (max-width: 900px) {
    .mdc-breakpoint-split > * {
      width: 50%; }
    .mdc-breakpoint-split .pf-c-card {
      width: unset !important; } }
