.circleci
.github
config
deploy
dist
e2e_tests
integration_tests
node
.idea
npm-cache
.dockerignore
.gitignore
.env.*
!.env.production
build
coverage
Dockerfile
Dockerfile.rhel7
node_modules
README.md
scripts
assembly.xml
local_dev.sh
Makefile
pom.xml
renovate.json
server.log