# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode

mobile-developer-console
dist
gin-bin
cmd/api-server/debug
main
.idea/
.r.errors.log
.r.outputs.log
.r.logs.log
server.log
*/_tmp*
*/node_modules

# with 3.11 we have this folder created with oc cluster up
openshift.local.clusterup
