.overview {
  background-color: #f5f5f5;
  flex: 1 1 auto;
}

.blank-slate-pf {
  border-width: 0;
}

.mobile-client-card {
  margin: 0 0 20px 0;

  a {
    color: #393f44;
    text-decoration: none;

    :hover {
      text-decoration: none;
    }
  }

  .card-pf-heading {
    border-bottom: none;

    .card-pf-title {
      span {
        margin-right: 5px;
      }
      span:not(.pficon) {
        margin-right: 15px;
      }
    }

    .card-pf-title {
      flex: 1 1 0%;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4em;
      max-height: 4.2em;
      overflow: hidden;
      padding: 0!important;
      position: relative;
      word-wrap: break-word;
      color: #0088ce;

      h1 {
          margin: 0;
      }
    }
  }

  .card-dropdown-kebab {
    float: right;
  }
  
  .card-pf-body {
    text-align: center;

      .card-icons {
          min-height: 30px;
      }

      .card-icons img {
          padding: 2px;
          position: relative;
          width: 30px;
          height: 30px;
          margin-right: 5px;
          margin-top: -30px;
          overflow: hidden;
      }

  }

  .card-pf-footer {
    background-color: #fff;
    border-top: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 20px 20px 20px;

    .creation-timestamp {
      padding-left:8px;
      font-size: 11px;
      font-weight: bold;
      color: #757575;
    }

    .service-icon {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      align-items: center;
      justify-content: center;
      position: relative;

      .icon {
        width: 30px;
        height: 30px;
      }

      .fa {
        font-size: 25px;
        vertical-align: middle;
      }
    }

    
  }
}

.toolbarContainer {
  border-top: 1px solid lightgrey;
  box-shadow: 1px 1px 1px #ECECEC;
  padding-top: 4px;
}

.toolbarButtonContainer {
  float: right;
  margin-right: -10px;
}

.toolbarButton {
  margin-right: 10px;
}

.toolbarFilter {
  height: 26px;
  padding-left: 6px;
  font-weight: 400;
  width: 185px;
}

.toolbarFilter::placeholder {
  font-style: italic;
}
