.mobile-service-view .spinner-padding {
  margin-top: 32px;
  margin-bottom: 32px; }

.bound-service-title {
  margin-bottom: 24px; }

.unbound-service-title {
  margin-top: 48px;
  margin-bottom: 8px; }

.unbound-service-text {
  margin-bottom: 24px; }
