.configurationView {
  display: flex;
  align-items: stretch;
  height: 100%;


  .icon {
    width: 30px;
    height: 30px;
  }
  
  .list-group-item-container {
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;

    ol {
      margin-left: 32px;
    }

    ol > li> ul {
      list-style-type: disc;
      margin-left: 32px;
    }
  }
  
  .list-group-item-header {
    background-color: transparent;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .list-view-pf-expand {
    border-right: 1px #dcdcdc solid;
    padding-right: 8px;
    margin-right: 8px;
  }
}

.configurationView > * {
  flex: 1 100%;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
}

/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

.service-configuration {
  padding: 0px
}

.service-configuration-header {
  margin: 20px
}

.dl-horizontal.left dt {
  text-align: left;
}
.mobile-client-config {
  display: block;
  flex: 1 100%;
  margin-bottom: 32px;
} 

.copy-to-clipboard-multiline pre {
  background-color: #fff;
  word-break: normal;
  word-wrap: normal;
  margin-top: 0px;
  min-height: 200px;
  padding: 0;
}

.copy-to-clipboard-multiline .copy-btn {
  box-shadow: none;
  position: absolute;
  right: 0;
  top: 0
}