.service-sdk-info {
  padding: 0px; }

.service-sdk-info img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle; }

.service-sdk-info .service-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }

.service-sdk-info .service-name h4 {
  margin: 0px; }

.service-sdk-info .service-details {
  padding-left: 40px; }

.pf-data-list-icon img {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle; }
