.detailsKey {
    text-align: left;
    font-weight: 700;
}

.boundService .list-group-item-header {
    background-color: #ededed;
    border-color: #bbb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}