.component-label {
  padding-top: 15px;
  border-bottom: 1px solid #dcdcdc;
  line-height: 1;
  margin-bottom: 10px;
  padding-bottom: 5px;
  align-self: center;
  color: #757575;
  font-size: 10px;
  padding-right: 10px;
  text-transform: uppercase
}