.overview {
  background-color: #f5f5f5;
  flex: 1 1 auto; }

.blank-slate-pf {
  border-width: 0; }

.mobile-client-card {
  margin: 0 0 20px 0; }
  .mobile-client-card a {
    color: #393f44;
    text-decoration: none; }
    .mobile-client-card a :hover {
      text-decoration: none; }
  .mobile-client-card .card-pf-heading {
    border-bottom: none; }
    .mobile-client-card .card-pf-heading .card-pf-title span {
      margin-right: 5px; }
    .mobile-client-card .card-pf-heading .card-pf-title span:not(.pficon) {
      margin-right: 15px; }
    .mobile-client-card .card-pf-heading .card-pf-title {
      flex: 1 1 0%;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4em;
      max-height: 4.2em;
      overflow: hidden;
      padding: 0 !important;
      position: relative;
      word-wrap: break-word;
      color: #0088ce; }
      .mobile-client-card .card-pf-heading .card-pf-title h1 {
        margin-top: 0; }
  .mobile-client-card .card-dropdown-kebab {
    float: right; }
  .mobile-client-card .card-pf-body {
    text-align: center; }
    .mobile-client-card .card-pf-body .card-icons {
      min-height: 30px; }
    .mobile-client-card .card-pf-body .card-icons img {
      padding: 2px;
      position: relative;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      overflow: hidden; }
  .mobile-client-card .card-pf-footer {
    background-color: #fff;
    border-top: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 20px 20px 20px; }
    .mobile-client-card .card-pf-footer .creation-timestamp {
      padding-left: var(--pf-global--spacer--sm);
      font-size: 11px;
      font-weight: bold;
      color: #757575; }
    .mobile-client-card .card-pf-footer .service-icon {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      align-items: center;
      justify-content: center;
      position: relative; }
      .mobile-client-card .card-pf-footer .service-icon .icon {
        width: 30px;
        height: 30px; }
      .mobile-client-card .card-pf-footer .service-icon .fa {
        font-size: 25px;
        vertical-align: middle; }
    .mobile-client-card .card-pf-footer .builds {
      float: right; }

.toolbarContainer {
  border-top: 1px solid lightgrey;
  box-shadow: 1px 1px 1px #ECECEC;
  padding-top: 4px; }

.toolbarButtonContainer {
  float: right;
  margin-right: -10px; }

.toolbarButton {
  margin-right: 10px; }

.toolbarFilter {
  height: 26px;
  padding-left: 6px;
  font-weight: 400;
  width: 185px; }

.toolbarFilter::placeholder {
  font-style: italic; }
