.pf-c-card {
  min-height: 220px;
}

// Reverses the default flex alignment of align-items: basem
.pf-c-page__main-section > .pf-l-flex {
  align-items: initial;
}

.mdc-creation-timestamp {
  font-size: var(--pf-global--FontSize--sm);
  color: var(--pf-global--Color--200);
  font-weight: unset !important;
}

.mdc-card {
  .pf-c-card__header a {
    color: #393f44;
    text-decoration: none;

    :hover {
      text-decoration: none;
    }
  }

  .mdc-card-icons {
    img {
      height: 40px;
      width: 40px;
    }
    margin-top: var(--pf-global--spacer--sm);
  
    > *:not(:last-child) {
      margin-right: var(--pf-global--spacer--sm);

      @media only screen and (min-width: 768px) {
        margin-right: var(--pf-global--spacer--md);
      }
    }
  }
}
