.client-details {
  width: 100%;
  padding-top: 10px;
  flex: 1;
  flex-direction: column;
  display: flex;
  padding-left:25px;
  padding-right:25px;

  .breadcrumb {
    margin-bottom: 10px;
  }

  #basic-tabs-pf {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    margin-left:-15px;
  }

  .nav-tabs {
    border-bottom: 1px solid #ededed;  
  }
  
  
  #basic-tabs-content {
    flex: 1 100%;
  }

  #basic-tabs-content > * {
    height: 100%;
  }
  
  h3.header {
    border-bottom:none;
  }
  

  .app-header-wrapper {
    display: flex;
    justify-content: space-between;
    
    .app-header {
      display: flex;
      margin-bottom: 30px;
  
      h1 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .app-actions-dropdown {
      margin-top: 15px;
    }
  }
}

