.copy-to-clipboard-multiline {
    pre {
        font-family: monospace;
        background-color: #fff;
        width: em(440);
        margin: 4em auto;
        padding: 0.5em;
        border-radius: .25em;
        line-height: 0;
        counter-reset: line;

        span {
            display: block;
            line-height: 1.5rem;

            &:before {
                counter-increment: line;
                content: counter(line);
                display: inline-block;
                border-right: 1px solid #ddd;
                padding: 0 .5em;
                margin-right: .5em;
                color: #333;
                background: #aaa;
            }
        }
    }
}
